In [1]:
import pandas as pd
import sqlite3
import MouseTools as mt

In [2]:
conn = sqlite3.connect("../Week 4/waits.db")

In [3]:
details = pd.read_sql(f"SELECT * FROM details WHERE dest_id = {mt.ids.WDW_ID}", conn)
details.head()

,id,name,entityType,last_pull,last_updated,wait_time,status,dest_id
0,136550,"Monsters, Inc. Laugh Floor - Temporarily Unava...",Attraction,1617819158.53114,1615160265.019,None,Closed,80007798
1,15743682,Meet Dashing Disney Pals as Circus Stars at Pe...,Entertainment,1617819158.53114,1600183997.406,None,Closed,80007798
2,15850196,Meet Mickey Mouse at Town Square Theater - Tem...,Entertainment,1617819158.53114,1600183997.374,None,Closed,80007798
3,16124144,Walt Disney's Enchanted Tiki Room,Attraction,1617819158.53114,1617811321.839,None,Operating,80007798
4,16414579,Sorcerers of the Magic Kingdom,Attraction,1617819158.53114,1611547236.558,None,Closed,80007798

In [4]:
wdw_df = pd.DataFrame()

for i, row in details.iterrows():
    
    df = pd.read_sql(f"SELECT * FROM id_{row['id']}", conn, index_col="last_pull").drop("status", axis=1)
    df['wait_time'] = df['wait_time'].apply(lambda x: -1 if x == None else x)
    df = df.rename({"wait_time": row['id']}, axis=1)
    
    if not wdw_df.empty:
        wdw_df = wdw_df.merge(df, how="outer", left_index=True, right_index=True)
    else:
        wdw_df = df
        
wdw_df = wdw_df.fillna(-1)
wdw_df

,136550,15743682,15850196,16124144,16414579,16491297,16491299,16767263,16767276,16767284,...,26068,80010123,80010150,80010154,80010157,80010164,80010175,80010203,80010228,80010235
last_pull,,,,,,,,,,,,,,,,,,,,,
1616939436.37108,-1.0,-1.0,-1.0,-1.0,-1.0,15,-1.0,20,-1.0,75,...,25,10,15,-1,65,-1,-1,-1,20,-1
1616939737.7591,-1.0,-1.0,-1.0,-1.0,-1.0,15,-1.0,20,-1.0,75,...,25,25,15,-1,65,-1,-1,-1,20,-1
1616940038.48731,-1.0,-1.0,-1.0,-1.0,-1.0,10,-1.0,20,-1.0,65,...,25,35,15,-1,55,-1,-1,-1,35,-1
1616940341.58551,-1.0,-1.0,-1.0,-1.0,-1.0,10,-1.0,20,-1.0,65,...,25,45,15,-1,55,-1,-1,-1,35,-1
1616940644.43527,-1.0,-1.0,-1.0,-1.0,-1.0,10,-1.0,20,-1.0,50,...,25,45,15,-1,55,-1,-1,-1,35,-1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1617716011.7734,-1.0,-1.0,-1.0,-1.0,-1.0,10,-1.0,20,-1.0,75,...,45,45,10,5,60,-1,-1,-1,5,-1
1617716314.55725,-1.0,-1.0,-1.0,-1.0,-1.0,10,-1.0,20,-1.0,75,...,45,50,15,5,60,-1,-1,-1,10,-1
1617818503.90082,-1.0,-1.0,-1.0,-1.0,-1.0,20,-1.0,20,-1.0,55,...,25,55,35,60,15,-1,-1,-1,10,-1
1617818836.76763,-1.0,-1.0,-1.0,-1.0,-1.0,20,-1.0,20,-1.0,55,...,25,55,25,50,15,-1,-1,-1,10,-1
1617819158.53114,-1.0,-1.0,-1.0,-1.0,-1.0,20,-1.0,20,-1.0,55,...,25,40,25,50,25,-1,-1,-1,10,-1

In [5]:
mk = mt.Park(mt.ids.MK_ID)
t = mk.get_attraction_wait_times().keys()
wdw_df[t]

,136550,16124144,16414579,16491297,16491299,16767263,16767276,16767284,17272158,2219610,...,80010208,80010210,80010213,80010220,80010222,80010224,80010230,80010232,80069748,80069754
last_pull,,,,,,,,,,,,,,,,,,,,,
1616939436.37108,-1.0,-1.0,-1.0,15,-1.0,20,-1.0,75,-1.0,-1.0,...,20,20,15,-1,20,-1.0,-1.0,5,-1,-1.0
1616939737.7591,-1.0,-1.0,-1.0,15,-1.0,20,-1.0,75,-1.0,-1.0,...,20,20,15,-1,20,-1.0,-1.0,5,-1,-1.0
1616940038.48731,-1.0,-1.0,-1.0,10,-1.0,20,-1.0,65,-1.0,-1.0,...,20,20,15,-1,20,-1.0,-1.0,5,-1,-1.0
1616940341.58551,-1.0,-1.0,-1.0,10,-1.0,20,-1.0,65,-1.0,-1.0,...,20,20,15,-1,20,-1.0,-1.0,10,-1,-1.0
1616940644.43527,-1.0,-1.0,-1.0,10,-1.0,20,-1.0,50,-1.0,-1.0,...,20,20,25,-1,20,-1.0,-1.0,10,-1,-1.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1617716011.7734,-1.0,-1.0,-1.0,10,-1.0,20,-1.0,75,-1.0,-1.0,...,15,20,35,-1,15,-1.0,-1.0,5,-1,-1.0
1617716314.55725,-1.0,-1.0,-1.0,10,-1.0,20,-1.0,75,-1.0,-1.0,...,15,20,15,-1,15,-1.0,-1.0,10,-1,-1.0
1617818503.90082,-1.0,-1.0,-1.0,20,-1.0,20,-1.0,55,-1.0,-1.0,...,15,20,30,40,20,-1.0,-1.0,15,30,-1.0
1617818836.76763,-1.0,-1.0,-1.0,20,-1.0,20,-1.0,55,-1.0,-1.0,...,15,20,30,40,20,-1.0,-1.0,15,30,-1.0
1617819158.53114,-1.0,-1.0,-1.0,20,-1.0,20,-1.0,55,-1.0,-1.0,...,35,20,30,40,20,-1.0,-1.0,15,30,-1.0

In [6]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.neural_network import MLPRegressor
from sklearn.ensemble import RandomForestRegressor

In [10]:
y_id = "80010114"
print(mt.Attraction(y_id))

# this_df = wdw_df[wdw_df[y_id] != -1]
this_df = wdw_df[t].copy()
this_df = this_df[this_df[y_id] != -1]

X = this_df[this_df.columns.difference([y_id])].drop(this_df.index[0])
y = this_df[y_id].shift(-1).dropna().ravel()

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)

Attraction object for Buzz Lightyear's Space Ranger Spin

In [11]:
# model = LinearRegression().fit(X_train, y_train)
# model = MLPRegressor(max_iter=1000).fit(X_train, y_train)
model = RandomForestRegressor().fit(X_train, y_train)
model.score(X_test, y_test)

0.8986384869679576

In [78]:
index = 500
print(model.predict(X_test.iloc[index].ravel().reshape(1,-1)))
print(y_test[index])

[43.3]
45

In [12]:
n=5
all_models = {}
for y_id in wdw_df.columns:
    this_df = wdw_df[wdw_df[y_id] != -1]
    if this_df.empty:
        continue

    X = this_df[this_df.columns.difference([y_id])].drop(this_df.index[0:n])
    y = this_df[y_id].shift(-n).dropna().ravel()

    X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20)
    
    clf = LinearRegression().fit(X_train, y_train)
    all_models[y_id] = clf
    
all_models

{'16491297': LinearRegression(),
 '16767263': LinearRegression(),
 '16767284': LinearRegression(),
 '80010107': LinearRegression(),
 '80010110': LinearRegression(),
 '80010114': LinearRegression(),
 '80010117': LinearRegression(),
 '80010129': LinearRegression(),
 '80010149': LinearRegression(),
 '80010153': LinearRegression(),
 '80010162': LinearRegression(),
 '80010170': LinearRegression(),
 '80010176': LinearRegression(),
 '80010177': LinearRegression(),
 '80010190': LinearRegression(),
 '80010192': LinearRegression(),
 '80010208': LinearRegression(),
 '80010210': LinearRegression(),
 '80010213': LinearRegression(),
 '80010220': LinearRegression(),
 '80010222': LinearRegression(),
 '80010232': LinearRegression(),
 '80069748': LinearRegression(),
 '107785': LinearRegression(),
 '18375495': LinearRegression(),
 '20194': LinearRegression(),
 '207395': LinearRegression(),
 '80010152': LinearRegression(),
 '80010161': LinearRegression(),
 '80010173': LinearRegression(),
 '80010191': LinearRegression(),
 '80010199': LinearRegression(),
 '18770880': LinearRegression(),
 '18904138': LinearRegression(),
 '18904172': LinearRegression(),
 '19259335': LinearRegression(),
 '19263735': LinearRegression(),
 '19276204': LinearRegression(),
 '19497952': LinearRegression(),
 '209857': LinearRegression(),
 '80010151': LinearRegression(),
 '80010182': LinearRegression(),
 '80010193': LinearRegression(),
 '80010218': LinearRegression(),
 '18665185': LinearRegression(),
 '18665186': LinearRegression(),
 '26068': LinearRegression(),
 '80010123': LinearRegression(),
 '80010150': LinearRegression(),
 '80010154': LinearRegression(),
 '80010157': LinearRegression(),
 '80010228': LinearRegression()}

In [86]:
len(all_models.keys())

52