# Intro to Python

### We're going to start with some Python basics before we get into the "financial/data science Python basics".

https://learnxinyminutes.com/docs/python/<br />
https://www.w3schools.com/python/default.asp

These links can be helpful resources when beginning to learn Python.

In [4]:
import sys
print(sys.version)

3.8.5 (tags/v3.8.5:580fbb0, Jul 20 2020, 15:57:54) [MSC v.1924 64 bit (AMD64)]

I'm using Python version 3.8.5. I recommend having Python 3.6+ installed.

### Comments

In [8]:
# This is a single line comment. Comments allow you to write information within your code that won't affect the behavior of your code.

In [9]:
# Here's an example:

x = 1
# This comment won't break anything.
print(x)
x += 1
# Neither will this
print(x)

1
2

### Datatypes and Operators

Python has a few primative datatypes which are important to know.

In [17]:
# Integers
1
print(type(1))

# Floats
5.5
print(type(5.5))

# Booleans
True
False
print(type(True))

# Strings
"Hello World"
'Python Club'
print(type("Hello World"))

# Lists
[1, 2, 3]
print(type([1, 2, 3]))

# Dictionary
{'key1': 'value1', 'key2': 'value2'}
print(type({'key1': 'value1', 'key2': 'value2'}))

<class 'int'>
<class 'float'>
<class 'bool'>
<class 'str'>
<class 'list'>
<class 'dict'>

In [26]:
# You can do math as expected
# Addition
1 + 1

2

In [28]:
# Subtraction
1 - 2

-1

In [27]:
# Multiplication
2 * 2

4

In [31]:
# Division
10 / 5

2.0

In [36]:
# Notice the output type of this division
type(10 / 5)
# Even though both numbers are integers, division will always return a float

float

In [33]:
# To get an integer type back you have to use integer division, this will always round the quotient down
10 // 5

2

In [35]:
type(10//5)

int

In [37]:
print(24/5)
print(24//5)

4.8
4

In [41]:
# However, if either of the numbers are a float, integer division will return a float
24 // 5.0
# The result of / division is always a float

4.0

In [42]:
# Exponentiation
# Denoted as **
2**3

8

In [45]:
# PEMDAS
1 + 3 * 2

7

In [46]:
(1 + 3) * 2

8

In [47]:
# Booleans are written as True and False, but are actually 1 and 0
True + True

2

In [48]:
True - False

1

In [49]:
# Negation
not True

False

In [50]:
# Boolean operators
True and True

True

In [51]:
True and False

False

In [52]:
True or False

True

In [53]:
False or False

False

In [54]:
# Equalities and Comparisons
1 == 1

True

In [55]:
1 != 2

True

In [56]:
1 < 2

True

In [57]:
1 > 2

False

### Printing

Printing allows you to output information to a console to see.

In [11]:
print("Hello world")
print(1)
print(5.5)

Hello world
1
5.5

In [21]:
# You can also print multiple things in one print statement
print("Hello", 2, "the", "World")

Hello 2 the World

In [23]:
# When doing something like above, you can also specify how to seperate the items being printed with the 'sep' parameter
print("Hello", 2, "the", "World", sep="*")

Hello*2*the*World

### Variables
Python uses dynamic typing, meaning any varibale can be any datatype without being specified. This is different from other languages like Java or C++ which require the datatype to be defined at assignement.

In [59]:
# Assign a varible using the equals sign
x = 1
print(x)

1

In [62]:
x = 1
print(x)
x = "Hello"
print(x)
x = 5.5
print(x)
x = True
print(x)
x = []
print(x)
x = {}
print(x)

1
Hello
5.5
True
[]
{}

In [61]:
# Python naming convention says to use underscores
my_var = 10
print(my_var)

10